.slider{width:325;height:455;overflow:hidden;margin:30 auto;background-image:url(../img/load.gif);background-repeat:no-repeat;background-position:center;}
.slider img{width:320;height:450;display:none;opacity:1;}
.shadow{background-image:url(../img/shadow.png);background-repeat:no-repeat;background-position:top;width:300;height:50;}
.shadow img{width:300;height:50;display:none;}