body{background-color:#FC4513;}
img{width:250;height:350;border:1px solid #FC4513;opacity:0.9;}
img:hover{opacity:2;}
h1{font-size:85;font-family:DFKai-SB;font-weight:bold;color:#FC4513;border:5px solid #FC4513;}
h2{font-size:40;font-family:DFKai-SB;font-weight:bolder;color:#FC4513;}
h3{font-size:20;font-family:SimHei;font-weight:bold;color:#FC4513;}
embed{width:200;height:200;}
a:link{text-decoration:none;color:#FC4513;}
a:visited{text-decoration:none;color:#FC4513;}
a:hover{text-decoration:none;color:orange;}
center{font-family:SimHei;color:white;font-size:10;}
.clockStyle{text-align:right;font-family:Comic Sans MS;font-weight:bold;color:white;font-size:50;}
.dateStyle{text-align:right;font-family:Comic Sans MS;font-weight:bold;color:white;font-size:54;}